html {
    font-size: 16px;
}

body {
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F8F6F0;
}

h2 {
    font-family: 'pattaya';
}

/*HEADER SECTION*/
header, nav, .nevtreh-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    height: 5rem;
    width: 100%;
    font-size: 1.25rem;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    nav {
        width: 13.75rem;
    }
    .nevtreh-search {
        width: 40.62rem;
    }
}

.logo {
    width: 50px;
    height: 50px;
}

input, button {
    border: none;
    height: 30px;
    border-radius: 2rem;
    font-size: 1rem;
}

.more-search {
    background-color: white;
    border: 3px solid #FF8C42;
    color: black;
    width: 12.5rem;
    font-weight: 100;
}

button {
    background-color: #FF8C42;
    color: white;  
    width: 120px;
    font-weight: bold;
    transition: opacity 0.15s;
}

button:hover, .search-logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:active {
    opacity: 0.6;
}

input {
    width: 13.75rem;
    padding-left: 1.87rem;
    color: #535353;
    background-color: #E7E7E7;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: #FF8C42;
}

/*MAIN SECTION*/
main {
    flex: 1;
    display: flex;
    margin-top: 11rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    padding-left: 5.62rem;
    padding-right: 3rem;
}

.category {
    width: 15rem;
    margin-right: 3rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 2rem;
}

.category a {
    display: flex;
    padding: 0.3rem;
}

.selected-cat {
    flex: 1;
    margin-right: 3rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 2rem;
}

.all-recipes {
    overflow-y: auto;   /* босоо scroll */
    overflow-x: hidden; /* хажуу scroll нуух */
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    article {
        margin: 0;
    }
}

/*FOOTER SECTION*/
footer {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
}

main img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}